/*fonts importeren*/
@font-face {
    font-family: press-start;
    src: url(fonts/PressStart2P-Regular.ttf);
}

/*font*/
h1 {
    margin-left: 20px;
    color: white;
}

h1,
h2,
h3,
h6 {
    font-family: "press-start", sans-serif;
}

h2,
h3 {
    color: white;
}

h4 {
    font-family: "press-start", sans-serif;
    color: white;
    margin-left: 10px;
}

footer h4 {
    padding-top: 10px;
    color: black;
}

h6 {
    color: white;
    text-align: left;
    margin-left: 20px;
}

/*body*/
body {
    background-color: #0026cc;
    margin: 0px;
}

/*navigatie*/

/* deze code is nodig als ik te veel navigatie items heb en ik wil scrollen binnen mijn navigatie*/
header {
    overflow-x: scroll;
}

ul {
    background-color: #0026cc;
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 1em;
}

li:hover {
    transform: scale(1.05);
    box-shadow: inset 0 0 6px 5px rgba(0, 0, 0, 0.5);

}

#logo:hover {
    transform: none;
    box-shadow: none;
}


a {
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: "press-start", sans-serif;
    font-size: 1em;
}

a:hover {
    color: black;
}

a:active {
    color: #4cd066;
}


#logo img {
    height: 90px;
    width: 90px;
}

#logo {
    border: none;
    background-color: #0026cc;
}

/*videobanner*/

video {
    position: relative;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: sticky;
    left: 0;
    top: 40;
}


/*
filterformulier
#filteren form,
#filteren label {
    display: inline-block;
    border: none;
    color: white;
    padding: 20px;
    font-family: "press-start", sans-serif;
    font-size: 1em;
}

#filteren {
    background-color: #4cd066;
}
*/



/*content*/

#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
    grid-gap: 40px 80px;
    padding: 2vw;
    text-align: center;
    margin: 50px 20px 10px 20px;
    background-image: url(img/background-11.png);
    /*    achtergrondafbeelding gevonden van de lowlandsite bij inspecteren*/
}

@media (min-width: 700px) {

    #content,
    footer section {
        grid-template-columns: 1fr 1fr;
    }

    header {
        overflow-x: hidden;
    }

}

@media (min-width: 1000px) {

    #content,
    footer section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    header {
        overflow-x: hidden;
    }
}

article {
    background-color: #4cd066;
    /*    background-image: none;*/
    border: solid 1px black;
    box-shadow: inset 0 0 13px 10px rgba(0, 0, 0, 0.85);
    font-family: "press-start", sans-serif;
    font-size: 1em;
    /*    van de lowlandsite bij inspecteren*/

}

article:hover {
    transform: scale(0.8);
    border: solid 1px blue;
}

/*hartbutton*/
/* bron code: https://foundation.zurb.com/building-blocks/blocks/button-like.html*/
.button-like {
    border: 2px solid #8a8a8a;
    background-color: transparent;
    text-decoration: none;
    padding: 1rem;
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
    display: block;
    border-radius: 3rem;
    color: #8a8a8a;
    transition: all ease 0.4s;
}

.button-like span {
    margin-left: 0.5rem;
}

.button-like .fa,
.button-like span {
    transition: all ease 0.4s;
}

.button-like:focus {
    background-color: transparent;
}

.button-like:focus .fa,
.button-like:focus span {
    color: #8a8a8a;
}

.button-like:hover {
    border-color: #cc4b37;
    background-color: transparent;
}

.button-like:hover .fa,
.button-like:hover span {
    color: #cc4b37;
}

.liked {
    background-color: #cc4b37;
    border-color: #cc4b37;
}

.liked .fa,
.liked span {
    color: #fefefe;
}

.liked:focus {
    background-color: #cc4b37;
}

.liked:focus .fa,
.liked:focus span {
    color: #fefefe;
}

.liked:hover {
    background-color: #cc4b37;
    border-color: #cc4b37;
}

.liked:hover .fa,
.liked:hover span {
    color: #fefefe;
}






/*background content*/
div {
    background-image: url(img/background-7.png);
    box-shadow: inset 0 0 13px 5px rgba(0, 0, 0, 0.3);
}

article img {
    width: 277px;
    height: 185px;
    padding-bottom: 3em;
}


/*filtermenu*/
/*
.filtermenu {
    background-color: #4cd066;
    color: white;
    cursor: pointer;
    padding: 1em;
    width: 15em;
    border: none;
    font-family: "press-start", sans-serif;
    font-size: 1em;
}
*/



/*
.active,
filtermenu:hover {
    color: #0026cc;
}
*/

/*
#filteren section {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #4cd066;
    box-shadow: inset 0 0 13px 5px rgba(0, 0, 0, 0.3);
}
*/


/*footerformulier en emailformulier*/
form {

    display: block;
    color: white;
    padding: 30px;
    font-family: "press-start", sans-serif;
    font-size: 1em;
    border: solid 4px white;
}

label {
    display: block;
}

/*code van W3schools gebruikt*/
input[type=text],
input[type=submit],
input[type=email] {
    width: 20em;
    height: 1em;
    padding: 12px;
    margin: 8px 4px 20px 0px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;

}

/*button om email te verzenden*/
input[type=submit] {
    font-size: 0.8em;
    font-family: "press-start", sans-serif;
    padding: 1px;
    width: 10em;
    height: 2.3em;
    border-radius: 6px;
    color: white;
    background-color: #4cd066;
    margin-left: 15px;


}

input[type=submit]:hover {
    background-color: #92cc92;
}

input[type=submit]:active {
    color: #0026cc;
}

input[type=submit]:focus {
    box-shadow: inset 0 0 10px 1px rgba(1, 4, 4, 0.85);
}


input[type=text]:hover,
input[type=email]:hover {
    background-color: lightgray;
}



.hidden {
    display: none;
}

/*attribuut ::placeholder heb ik van de site https://www.w3schools.com/howto/howto_css_placeholder.asp*/
::placeholder {
    font-family: "press-start", sans-serif;
}

/*formulier*/
fieldset {
    border: none;
}

legend {
    margin: 25px 0px 25px;
    color: #4cd066;
    text-decoration: underline;
}

select {
    font-family: "press-start", sans-serif;
    color: #4cd066;
    background-color: white;
    margin: 20px 0;
    padding: 10px;
    border-radius: 6px;


}

textarea {
    width: 314px;
    margin-top: 10px;
}

textarea:hover {
    background-color: lightgray;
}



/*footer*/
footer section {
    background-color: white;
}


footer img {
    width: 100px;
    margin: auto;
}

/*//////////////////////////////DETAILPAGINA\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*content detailpagina (Sectie)*/

#content2 {
    display: flex;
    justify-content: center;
    padding: 2vw;
    text-align: center;
    margin: 50px 20px 10px 20px;
    background-image: url(img/background-11.png);
}

/*content detailpagina (artikel)*/
#content2 article {
    width: 700px;
    height: auto;
    background-color: #4cd066;
    border: solid 1px black;
    box-shadow: inset 0 0 13px 10px rgba(0, 0, 0, 0.85);
    font-family: sans-serif;
    font-size: 1em;

}

#content2 article:hover {
    transform: none;
    border: solid 1px blue;
}

#content2 p {
    padding: 40px;
    text-align: left;
}

#content2 img {
    width: 415px;
    height: 277px;
}

/*YouTube video*/

iframe {
    width: 560px;
    height: 315px;
    padding: 50px 0px 50px 0px;
}

.footerlink {
    display: block;
    font-size: 0.5em;
    margin-left: 5px;
}


/*filtermenu 2.0, met hulp van Sonja's codepen, de stof van de les */
button {
    margin-left: 20px;
    background-color: #4cd066;
    color: white;
    cursor: pointer;
    padding: 1em;
    border: none;
    font-family: "press-start", sans-serif;
    font-size: 1em;
    /*    width: 100%;*/
    text-align: left;
    outline: none;
    border-radius: 0px;
}

#filtermenu form,
#filtermenu label {
    display: inline;

}

form#filtermenu {
    margin-left: 20px;
    background-color: #4cd066;
    position: absolute;
    overflow: hidden;
    margin-top: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: opacity .1s,
        width .3s .4s,
        height .3s .4s;

}

form#filtermenu.verschijnen {
    background-image: none;
    background-color: #4cd066;
    margin-left: 20px;
    width: auto;
    height: auto;
    border-radius: 0;
    opacity: 1;
    height: 75px;
}


/*//////////////////////////////Lau's festival pagina\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*Op deze pagina experimenteer ik met css*/

#lau {
    background-color: #161616;
}

/*inspiratie van https://codepen.io/codeams/pen/Ksbcz*/
#lau h1 {
    color: white;

    text-transform: uppercase;
    display: block;
    font-family: sans-serif;
    text-align: center;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2em;
    /*    font-weight: 700;*/
    letter-spacing: 8px;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    animation: text 3s 1;
}



@keyframes text {


    30% {
        letter-spacing: 25px;


    }

    85% {
        letter-spacing: 8px;


    }
}

#lau video {
    display: block;
    width: 40em;
    height: 20em;
    padding: 50px 0px 50px 0px;
    margin: 0px auto;
}

/*https://codepen.io/sazzad/pen/yNNNJG, https://www.w3schools.com/howto/howto_css_animate_buttons.asp*/

#lau button {
    display: block;
    margin: 0px auto;
    margin-bottom: 50px;
    color: yellow;
    background-color: black;
    height: 60px;
    width: 200px;
    border: solid black 2px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px yellow;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

#lau button:hover {
    color: black;
    background-color: transparent;
}

#lau button:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
}

#lau button:before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: black;
    background-color: yellow;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}


/*
2e button
https://webdeasy.de/en/top-css-buttons-en/
*/

#lau #button2 {
    display: block;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: none;
}

#button2:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(10px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#button2:active {
    color: #000
}

#button2:active:after {
    background: transparent;
}

#button2:hover:before {
    opacity: 1;
}

#button2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

/*Met font spelen*/
/*Deel code die ik uit de les heb, https://www.w3schools.com/cssref/css3_pr_text-shadow.asp, https://html-css-js.com/css/generator/text-shadow/, https://css-tricks.com/snippets/css/gradient-text/*/

#lau h2 {
    text-shadow: 5px 1px #0026cc;
    text-align: center;


}

#lau h3 {
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    text-align: center;
    
}

#fontstyle {
    color: red;
text-shadow: 2px 2px 0 orange, 4px 4px 0 grey;
}

#lau h4 {
    font-family: sans-serif;
    text-align: center;
  background: -webkit-linear-gradient(green, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
